@model Make
@{
	ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>
<ul>
	@foreach (var carModel in Model.Models)
	{
		<li>
			<a asp-controller="CarModels" asp-action="Details" asp-route-id="@carModel.Code">@carModel.Name</a>
		</li>
	}
</ul>

