@model List<Make>

@{
	ViewBag.Title = "Makes";
}

<h2>Vehicle Makes</h2>
<ul>
	@foreach (var make in Model) {
		<li><a asp-controller="Makes" asp-action="Details" asp-route-id="@make.Code">@make.Name</a></li>
	}
</ul>